$connector-color: rgb(100,100,100);

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h3, h4 {
	font-weight: 400;
	line-height: 2em;
	margin: 0px;
	display: inline;
}

h3{
	font-size: 16px;
}

h4{
	font-size: 15px;
}

a {
	color: #0366d6;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

.lead{
	margin-top: 0px;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.4;
}

.lead a img{
	margin-top: 8px;
}

#main{
	max-width: 580px;
	padding: 0 20px 20px 20px;
	margin: 0 auto;
}

#header{
	display: flex;
	align-items: center;
}

.tags{
	margin: 8px 0 0 12px;}

.tag{
	display: inline-block;
	background-color: rgb(251, 251, 123);
	padding: 0 5px 0 5px;
	margin-bottom: 3px
}

// Connect uls

ul#ossu, ul#ossu ul {
	list-style: none;
	 margin: 0;
	 padding: 0;
 } 
 ul#ossu ul {
	 margin-left: 10px;
 }
 ul#ossu li {
	 margin: 0;
	 padding: 0 7px;
	 line-height: 20px;
	 border-left:1px solid $connector-color;
	//  font-size: 25px;
	//  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	//  line-height: 40px;
 }
 ul#ossu li:last-child {
		 border-left:none;
 }
 ul#ossu li:before {
		position:relative;
		top:-0.3em;
		height:1em;
		width:12px;
		color:white;
		border-bottom:1px solid $connector-color;
		content:"";
		display:inline-block;
		left:-7px;
 }
 ul#ossu li:last-child:before {
		border-left:1px solid $connector-color;   
 }